In [1]:
def add(x):
    return(x+10)

add(20)

30

In [5]:
def add(x):
    summ=x+10
    return(summ)
add(60)

70

*one argunment

In [6]:
#how many arguments are present?:x
#what you are returning?:x+10
# format: lambda <argument_name>:<output>
add=lambda x:x+10
add(60)

70

In [7]:
def square(x):
    return(x*x)

In [9]:
square=lambda a:a*a
square(5)

25

In [10]:
def cube(x):
    return(x*x*x)

In [11]:
cube=lambda a:a*a*a
cube(7)

343

*two arguments

In [12]:
#how many arguments are present?:x
#what you are returning?:x+10
# format: lambda <arg1>,<arg2>:<output>
def add(a,b):
    return(a+b)
add(7,9)

16

In [18]:
#implement the average of three numbers using lambda
average=lambda a,b,c:(a+b+c)/3
average(5,5,5)

5.0

In [19]:
#implement average make c as default parameter
average=lambda a,b,c=5:round((a+b+c)/3,2)
average(7,5)

5.67

In [20]:
round(26.66666,2)

26.67

**if-else**

In [22]:
#create a function for finding greater number between two numbers
def greater(num1,num2):
    if num1>num2:
        return(num1)
    else:
        return(num2)
    
greater(7,5)

7

In [27]:
l1=[]
def greater(num1,num2):
    if num1>num2:
        l1.append(num1)
    else:
        l1.append(num2)
    
greater(7,5)

In [28]:
l1=[<if_output> <if_ con> else <else_op> <loop>]

[7]

In [29]:
def greater(n1,n2):
    if n1>n2:
        return(n1)
    else:
        return(n2)
    
greater(100,200)
#format:
#lambda <arg1>,<arg2>: <if_output> <if_ con> else <else_op>

200

In [32]:
greater=lambda a,b:(a if a>b else b)
greater(0,3)

3

-lambda function is nothing but create a function
-one argument
-multiple arguments
-if else conditions
-if else conditions same like list compehenshion

In [2]:
list1=['hyd','mumbai','chennai']
#output: ['Hyd','Mumbai','Chennai']
# M-1: use append method
list2=[]
for i in list1:
    list2.append(i.capitalize())
    print(list2)
# M-2: use list comprhenshion
[i.capitalize() for i in list1]
# M-3: make a lambda function

['Hyd']
['Hyd', 'Mumbai']
['Hyd', 'Mumbai', 'Chennai']

['Hyd', 'Mumbai', 'Chennai']

In [ ]:
lambda <arguments>: <output>

In [ ]:
# whenever you use iterations
# iterator: some thing can be iterbale/ you can print using for loop
# list ,string, tuple, dictionary

In [ ]:
lambda <arguments>: <output>,<iterator>
[i.capitalize() for i in list1]

In [5]:
list1=['hyd','chennai','mumbai']
lambda i:i.capitalize(),list1

(<function __main__.<lambda>(i)>, ['hyd', 'chennai', 'mumbai'])

In [ ]:
lambda <arg>:<output>

In [ ]:
- next thing is map input and output

In [6]:
list1=['hyd','chennai','mumbai']
map(lambda i:i.capitalize(),list1)

In [ ]:
- store the output

In [7]:
list(map(lambda i:i.capitalize(),list1))

['Hyd', 'Chennai', 'Mumbai']

-first make a lambda function
-second add your iterator
-map both function and iterator
-save the result in a list

In [ ]:
list1=['hyd','chennai','mumbai']
lambda i:i.capitalize(),list1
map(lambda i:i.capitalize(),list1)
list(map(lambda i:i.capitalize(),list1))

In [1]:
list1=[1,2,3,4,5]
# [1,4,9,16,25]

list(map(lambda i:i*i,list1))
for i in map(lambda i:i*i,list1):
    print(i)

1
4
9
16
25

In [2]:
list1=[1,2,3]
list2=[11,22,33]
# [12,24,36]
for i,j in zip(list1,list2):
     print(i+j)

12
24
36

In [3]:
str(map(lambda i,j:i+j, list1,list2))

'<map object at 0x000001CAF6101AE0>'

In [4]:
map(lambda i,j:i+j, list1,list2)

In [5]:
str([])

'[]'

In [ ]:
i.capitalize()
i*i
i+j

In [6]:
list1=['h#d','mum#bai','chennai']
#['h#d','mum#bai']
list1=['h#d','mum#bai','chennai']
list2=[]
for i in list1:
    if '#' in i:
        list2.append(i)
        print(list2)

[i for i in list1 if '#' in i]

['h#d']
['h#d', 'mum#bai']

['h#d', 'mum#bai']

In [11]:
#lambda <argument>:<condition>,<iterator>

In [8]:
list1=['h#d','mum#bai','chennai']
list(map(lambda i: '#' in i,list1))
# condition mapping to list of items

[True, True, False]

In [9]:
list1=['h#d','mum#bai','chennai']
list(filter(lambda i: '#' in i,list1))

['h#d', 'mum#bai']

In [10]:
list1=['h#d','mum#bai','chennai']
'#' in 'h#d'
'#' in 'mum#bai'

True