- Read the strings
- type
- max
- min
- len
- in (for loop)
- range
- index
- mutable
- slice
- methods

array of elements

In [1]:
string1='python'

In [25]:
list1=[1,2,3,4]
list1

[1, 2, 3, 4]

In [4]:
list2=['A,B,C,D']
list2

['A,B,C,D']

In [5]:
list3=[1,2,3,4,'A,B,C,D']
list3

[1, 2, 3, 4, 'A,B,C,D']

In [6]:
list4=[1,'Apple',10.5,10+20j,True]
list4

[1, 'Apple', 10.5, (10+20j), True]

In [7]:
list5=[100,100,100]
list5

[100, 100, 100]

In [8]:
list6=[[1,2,3,4]]
list6

[[1, 2, 3, 4]]

- list is an array of elements
- list elements heterogeneous(different) data types are allowed
- duplicates are allowed
- list in list also works

type

In [9]:
type(list3)

list

max

In [10]:
list1

[1, 2, 3, 4]

In [11]:
list2

['A,B,C,D']

In [12]:
print(max(list1))   # 4     
print(max(list2))  #D=====>ascii word
print(max(list3)) # error we cant compare different data type

4
A,B,C,D

TypeError: '>' not supported between instances of 'str' and 'int'

min

In [15]:
print(min(list1))   # 1     
print(min(list2))  #A=====>ascii word
print(min(list3)) # error we cant compare different data type

1
A,B,C,D

TypeError: '<' not supported between instances of 'str' and 'int'

len

In [16]:
print(len(list1))
print(len(list2))
print(len(list3))

4
1
5

sum

In [17]:
print(list1)
print(sum(list1))

[1, 2, 3, 4]
10

In [18]:
print(list2)
print(sum(list2))

['A,B,C,D']

TypeError: unsupported operand type(s) for +: 'int' and 'str'

- sum
- eval
- range

in

In [24]:
list1

[1, 2, 3, 4]

In [32]:
list1=[1,2,3,4]

In [33]:
dir()

['In',
 'Out',
 '_',
 '_10',
 '_11',
 '_19',
 '_2',
 '_24',
 '_25',
 '_29',
 '_4',
 '_5',
 '_6',
 '_7',
 '_8',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'i',
 'list1',
 'list2',
 'list3',
 'list4',
 'list5',
 'list6',
 'open',
 'quit',
 'string1']

In [35]:
1 in list1
2 in list1
3 in list1
4 in list1

i in list1
#can i iterate through for loop

True

In [31]:
for i in list1:
    print(i)

1
2
3
4

concatenation

In [36]:
list1

[1, 2, 3, 4]

In [37]:
list2

['A,B,C,D']

In [38]:
print(list1+list2)
print(list2+list1)

[1, 2, 3, 4, 'A,B,C,D']
['A,B,C,D', 1, 2, 3, 4]

In [41]:
new_list=list1+list2

new_list

[1, 2, 3, 4, 'A,B,C,D']

In [42]:
list1*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [43]:
list1-list2
list1/list2
list1*list2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

index

In [44]:
list3

[1, 2, 3, 4, 'A,B,C,D']

In [45]:
#python index starts with 0
list3[0],list3[1],list3[2],list3[3]

# list3[i]
# i=0 1 2 3

(1, 2, 3, 4)

In [46]:
list3[-1]

'A,B,C,D'

In [47]:
list3[+1]

2

In [71]:
list1[-3]

-8 -7 -6 -5 -4 -3 -2 -1
1  2  3  4  A  B  C  D
0  1  2  3  4  5  6  7

SyntaxError: invalid syntax (1677655478.py, line 4)

In [54]:
for i in range(len(list3)):
    print('postive index is: {} and negative index is {}: for an element {}'.format(i-i(len))

IndexError: Replacement index 1 out of range for positional args tuple

In [58]:
#WAP find the elements which are having len<3
# list=['Apple','Ball','Cat','Ab','Cd','Ef']
# step-1: iterate the list using for loop
# step-2: apply the if condition len(<element>)<3:
# step-3: print(element)
list1=['Apple','Ball','Cat','Ab','Cd','Ef']
for i in range(len(list1)):
    if len(list1[i])<3:
        print(list1[i])

for i in list1:
     if len(i)<3:
        print(i)

Ab
Cd
Ef
Ab
Cd
Ef

In [59]:
#WAP find the elements which are having #
# list=['App#e','B#ll','C#t','Ab','Cd','Ef']
# step-1: iterate the list using for loop
# step-2: apply the if condition:
# step-3: print(element)
list1=['App#e','B#ll','C#t','Ab','Cd','Ef']
for i in list1:
    if '#' in i:
        print(i)

App#e
B#ll
C#t

In [61]:
list1=['App#e','B#ll','C#t','Ab','Cd','Ef']
count=0
for i in list1:
     if '#' in i:
        count=count+1
        print(count)

1
2
3

In [62]:
list1=[1,2,3,['Apple','Ball']]
# retrive the ball using index
# In the given list how many elements are there: 4
list1[3][1]

'Ball'

In [63]:
list2=[[[[[[['Cherry']]]]]]]
list2[0][0][0][0][0][0][0]

'Cherry'

In [64]:
list3=[[[['A','B',[[[1,2,3,['Car']]]]]]]]
# retrive the car

In [65]:
list3=[[[['A','B',[[[1,2,3,['car']]]]]]]]
list3[0][0][0][2][0][0][3][0]

'car'

In [72]:
list1=['a','b','c','d'] 
list1

['a', 'b', 'c', 'd']

In [73]:
list1[0],list1[1]

('a', 'b')

In [74]:
list1[-1]

'd'

mutable

In [75]:
string1='welcome'
# 'l' to 'L'
string1[2]='L'
# strings are immutable

TypeError: 'str' object does not support item assignment

In [76]:
list1=['A','B','C']
list1[0]=100
list1

[100, 'B', 'C']

slice

In [77]:
list1=[10,20,30,40,50,'P','Y','T','H','O','N','a','b','c','D']
print(list1[2:14:3]) # p
print(list1[2:14:-3]) # np
print(list1[2:-14:3]) # np
print(list1[2:-14:-3]) # p
print(list1[-2:14:3]) # p
print(list1[-2:-14:3]) # np
print(list1[-2:-14:-3]) # p
print(list1[-2:14:-3]) # np

[30, 'P', 'H', 'a']
[]
[]
[30]
['c']
[]
['c', 'N', 'T', 50]
[]

- Reading a list
- Different ways to provide elements
- type/min/max/sum/len
- in
- concatenation
- index
- mutable
- slice

# List methods

In [78]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

clear-copy

In [79]:
list1=[1,2,3,4]

# I wanat copy these elements in a list2

list2=list1.copy()
list1.clear()
print('list1:',list1) # []
print('list2:',list2) # [1,2,3,4]

list1: []
list2: [1, 2, 3, 4]

In [ ]:
# Side heading
# write the code
# insight/observation from above code

append

In [80]:
# add (something) to the end of a written document.
list1=[100,200]

# [100,200,300]

list1.append(300)
list1

[100, 200, 300]

In [81]:
list1=[]
list1.append(100)
list1.append(200)
list1.append(300)
list1

[100, 200, 300]

In [82]:
list1.append([100,200])
list1

[100, 200, 300, [100, 200]]

In [83]:
list1.append('Apple')
list1

[100, 200, 300, [100, 200], 'Apple']

In [85]:
# Input list= [1,2,3,4,5]
# create a new list = [1,4,9,16,25]
# write normal python code

list1=[1,2,3,4,5]
for i in list1:
    print(i*i)

# I dont want print the values, i want save the output in a list

1
4
9
16
25

In [86]:
list1=[1,2,3,4,5]
output=[]
for i in list1:
    output.append(i*i)
output

[1, 4, 9, 16, 25]

In [87]:
list2=['hyd','bengaluru','delhi']

# output=['Hyd','Bengaluru','Delhi']

output=[]
for i in list2:
    output.append(i.capitalize())
output

['Hyd', 'Bengaluru', 'Delhi']

In [88]:
list3=['h#d','beng#luru','delhi']

# output=['h#d','beng#luru']

output=[]
for i in list3:
     if '#' in i:
        output.append(i)
output

['h#d', 'beng#luru']

# List comprehension

In [89]:
# code in a single line ===== > speed the process
list1=[1,2,3,4,5] # input
output=[]
for i in list1:
    output.append(i*i)
output

# step-1: intilaized the list output=[]
# step-2: iterate the loop
# step-3: you save the output

output1=[i*i for i in list1]
output1
# [<output> <forloop>]

[1, 4, 9, 16, 25]

In [90]:
list2=['hyd','bengaluru','delhi']

# output=['Hyd','Bengaluru','Delhi']

output=[]
for i in list2:
     output.append(i.capitalize())
output

# [<output> <forloop>]
output1=[i.capitalize() for i in list2]
output1

['Hyd', 'Bengaluru', 'Delhi']

In [91]:
# create the list of 20 numbers from 1 to 20

##################################M-1
#for i in range(1,21):
#print(i)

################################### M-2

numbers=[]
for i in range(1,21):
    numbers.append(i)
numbers

################################### M-3

numbers1=[i for i in range(1,21)]
numbers1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
#list comprehension with if condition

In [92]:
list3=['h#d','beng#luru','delhi']

# output=['h#d','beng#luru']

output=[]
for i in list3:
    if '#' in i:
        output.append(i)
output

#[<o/p> <forloop> <if_condition>]

output1=[i for i in list3 if '#' in i]
output1

['h#d', 'beng#luru']

In [93]:
list4=['abcd','abc','ac','a']
# elemnts less than 3
# ['ac','a']

In [94]:
list4=["abcd","abc","ac","a"]
output=[i for i in list4 if len(i)<3]
output

['ac', 'a']

In [95]:
# if else
list1=[1,2,3,4,5,6]
for i in list1:
    if i%2==0:
        print("even:{}".format(i))
    else:
        print("odd:{}".format(i))

odd:1
even:2
odd:3
even:4
odd:5
even:6

In [96]:
list1=[1,2,3,4,5,6]
output=[]
for i in list1:
    if i%2==0:
        output.append("even:{}".format(i))
    else:
        output.append("odd:{}".format(i))
output

['odd:1', 'even:2', 'odd:3', 'even:4', 'odd:5', 'even:6']

In [97]:
#[<if_output> <if_condition> else <else_ouput> <for loop>]
["even:{}".format(i) if i%2==0 else "odd:{}".format(i) for i in list1]

['odd:1', 'even:2', 'odd:3', 'even:4', 'odd:5', 'even:6']

count

In [98]:
list1=[1,2,3,'A','B','B','B','C']
list1.count('B')

3

In [100]:
count=0
for i in list1:
    if i=='B':
        count=count+1
        print(count)

1
2
3

Extend

In [101]:
list1=['A','B','C']
list2=[1,2,3]
list1.extend(list2)
list1
# here the list1 will be updated with list2 values

['A', 'B', 'C', 1, 2, 3]

In [102]:
list1=['A','B','C']
list2=[1,2,3]
list1.append(list2) # ['A','B','C',[1,2,3]]
list1

['A', 'B', 'C', [1, 2, 3]]

In [103]:
list1=['A','B','C']
list2=[1,2,3]
list1=list1+list2
print(list1)

['A', 'B', 'C', 1, 2, 3]

# append vs extend vs concat
append will add the element at last , that element can be any type
- list1=[1,2,3]
- list2 =['A','B']
- list1.append(list2)=[1,2,3,['A','B']]
Extend will update the list by adding new elements, the result also save in a same list
- list1=[1,2,3]
- list2 =['A','B']
- list1.extend(list2)=[1,2,3,'A','B']
Concat will add two list, but the result will not update in a same list
- list1=[1,2,3]
- list2 =['A','B']
- list1+list2=[1,2,3,'A','B']

iterator
- iterator word ======= > loop
- the elements we can print using for loop
- string='python' we can print each letter using for loop
- list1=[1,2,3] we can print each element using for loop

In [104]:
val=reversed('python')
val

In [105]:
for i in val:
    print(i)

n
o
h
t
y
p

In [106]:
list1=[1,2,3]
list1.extend('python')
list1.append('python')
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n', 'python']

pop-remove-del

In [107]:
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n', 'python']

In [108]:
list1.pop()

'python'

In [109]:
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n']

In [110]:
list1
list1.pop(5) # list1.pop(list1.index('t'))

# in side bracket default aragument is there index=-1
# -1 means last value
# if you not provide any value
# it will remove last value
# if i provide any index, it will reove that element
# it is also returning , which element it is removing

't'

In [111]:
list1.pop(100)

IndexError: pop index out of range

In [112]:
list1=[100,200,100,300] # duplicates are allowed
list1.remove(100) # first occurence will gone
list1 # it will not return any value

[200, 100, 300]

In [113]:
del(list1)

In [114]:
list1

NameError: name 'list1' is not defined

In [115]:
list1=[100,200,100,300]
del list1[2]
list1

[100, 200, 300]

In [116]:
dir(list1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

- index vs multiple values
- insert vs append
- reverse ascending and descending ======= reversed
- sort =========== sorted
- difference between reverse and sort

-get all the differences all the information
-share your screenshot

In [117]:
list1=[1,2,3,4,2,6]
f_i=list1.index(2)
list1.index(2,f_i+1)

4

zip

In [120]:
list1=['Anu','Akhi','Snehi']
list2=[21,30,22]

# 'Anu age is 21'
# 'Akhi age is 20'
# 'Snehi age is 22'
for i,j in zip(list1,list2):
    print("{} age is {}".format(i,j))

Anu age is 21
Akhi age is 30
Snehi age is 22

In [121]:
list1=[100,200,300]
list2=[25,30,35]

# output=[125,230,335]

output=[i+j for i,j in zip(list1,list2)]
output

[125, 230, 335]

In [13]:
# take 5 questions in list1
# take corresponding 5 answers in another list2
# iterate through list1
# every quetion should print
# answer=input("tell the answer")
# answer will check in list2
# if it is there : marks=marks+1
# else: No marks
# how many write answers you made, how may answers you got
######################################
# list1=['Who is PM of india','What is the capital of india','Who is President]
# list2=['Modi','Delhi','Draupadi']
# marks=0
# correct_answr=0
# for i in range(len(list1)):
# print('Q1:'<>)
# answer=input("enter the answer")
# if answer.lower()==list2.index(i):
#      marks+=1
list1=['Who is PM of india','What is the capital of india','Who is President']
list2=['Modi','Delhi','Draupadi']
marks=0
       
for i in range(len(list1)):
    print(list1[i])
       
    answer=input("enter the answer") 
    if answer.capitalize()==list2[i]:
        marks+=1
print("your total obtain marks:",marks)

Who is PM of india
enter the answerModi
What is the capital of india
enter the answerDelhi
Who is President
enter the answerDraupadi
your total obtain marks: 3