In [1]:
#strings
#list
#dictionary
#tuple
#set

**How to read the strings

In [2]:
string1='python'        #single quote
string1

'python'

In [3]:
string2="python"        #double quotes
string2

'python'

In [4]:
#### Triple quotes
# Doc string is used to say some information about your python code

In [5]:
"""
im creating a hello function
arguments: none
return: none
"""
def hello():
    print("good morning")

In [6]:
'hello python'       #i want highlite the python

'hello python'

In [8]:
string3='hello "python"'
print(string3)

hello "python"

In [9]:
string4="hello 'python'"
print(string4)

hello 'python'

- type
- len
- max
- min

**type:

In [10]:
string1

'python'

In [11]:
type(string1)    #str

str

**len:

In [12]:
len(string1)

6

**max-min:

In [13]:
max(string1)        #python

'y'

In [14]:
string1='pP'
max(string1)       #ASCII by using values

'p'

*ord-*chr

In [16]:
ord('p')  #it will provide ascii value of char

112

In [17]:
ord('P')

80

In [19]:
string1='python'
max(string1)

'y'

In [20]:
string1='python'
max(string1),min(string1)

('y', 'h')

In [21]:
ord('p'),ord('y'),ord('t'),ord('h'),ord('o'),ord('n')

(112, 121, 116, 104, 111, 110)

In [23]:
chr(112), chr(121), chr(116),chr(104),chr(111),chr(110)

('p', 'y', 't', 'h', 'o', 'n')

In [24]:
for i in range(len('python')):
    print(i)

0
1
2
3
4
5

-i want to print p y t h o n
***in:

In [27]:
string1='python'
'p' in string1
'y' in string1
't' in string1
'h' in string1
'o' in string1
'n' in string1
# i in string1             #generalized expression

True

In [28]:
for i in string1:
    print(i)

p
y
t
h
o
n

-range(): you need provide number inside the range
-in     : is used only for strings
if you want print the letters using for loop go for in operator

In [29]:
print(ord('p'))
print(ord('y'))
print(ord('t'))
print(ord('h'))
print(ord('o'))
print(ord('n'))

print(ord(i))

112
121
116
104
111
110
110

In [30]:
for i in string1:
    print(ord(i))
     #the ascii value of p is 112

112
121
116
104
111
110

In [31]:
for i in (string1):
    print("the ascii value of {} is {}".format(i,ord(i)))

the ascii value of p is 112
the ascii value of y is 121
the ascii value of t is 116
the ascii value of h is 104
the ascii value of o is 111
the ascii value of n is 110

In [33]:
#ascii value of A to Z
#package_name: string
import string

dir(string)

In [ ]:
string.ascii_uppercase

In [ ]:
'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [36]:
for i in string.ascii_uppercase:
    print("the ascii value of {} is {}".format(i,ord(i)))

the ascii value of A is 65
the ascii value of B is 66
the ascii value of C is 67
the ascii value of D is 68
the ascii value of E is 69
the ascii value of F is 70
the ascii value of G is 71
the ascii value of H is 72
the ascii value of I is 73
the ascii value of J is 74
the ascii value of K is 75
the ascii value of L is 76
the ascii value of M is 77
the ascii value of N is 78
the ascii value of O is 79
the ascii value of P is 80
the ascii value of Q is 81
the ascii value of R is 82
the ascii value of S is 83
the ascii value of T is 84
the ascii value of U is 85
the ascii value of V is 86
the ascii value of W is 87
the ascii value of X is 88
the ascii value of Y is 89
the ascii value of Z is 90

In [ ]:
'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [37]:
for i in string.ascii_lowercase:
        print("the ascii value of {} is {}".format(i,ord(i)))

the ascii value of a is 97
the ascii value of b is 98
the ascii value of c is 99
the ascii value of d is 100
the ascii value of e is 101
the ascii value of f is 102
the ascii value of g is 103
the ascii value of h is 104
the ascii value of i is 105
the ascii value of j is 106
the ascii value of k is 107
the ascii value of l is 108
the ascii value of m is 109
the ascii value of n is 110
the ascii value of o is 111
the ascii value of p is 112
the ascii value of q is 113
the ascii value of r is 114
the ascii value of s is 115
the ascii value of t is 116
the ascii value of u is 117
the ascii value of v is 118
the ascii value of w is 119
the ascii value of x is 120
the ascii value of y is 121
the ascii value of z is 122

In [38]:
#what 
ord('a')

97

In [39]:
for i in range(33,127):
    print(i,chr(i))

33 !
34 "
35 #
36 $
37 %
38 &
39 '
40 (
41 )
42 *
43 +
44 ,
45 -
46 .
47 /
48 0
49 1
50 2
51 3
52 4
53 5
54 6
55 7
56 8
57 9
58 :
59 ;
60 <
61 =
62 >
63 ?
64 @
65 A
66 B
67 C
68 D
69 E
70 F
71 G
72 H
73 I
74 J
75 K
76 L
77 M
78 N
79 O
80 P
81 Q
82 R
83 S
84 T
85 U
86 V
87 W
88 X
89 Y
90 Z
91 [
92 \
93 ]
94 ^
95 _
96 `
97 a
98 b
99 c
100 d
101 e
102 f
103 g
104 h
105 i
106 j
107 k
108 l
109 m
110 n
111 o
112 p
113 q
114 r
115 s
116 t
117 u
118 v
119 w
120 x
121 y
122 z
123 {
124 |
125 }
126 ~

In [40]:
for i in range(938,1000):
    print(i,chr(i))

938 Ϊ
939 Ϋ
940 ά
941 έ
942 ή
943 ί
944 ΰ
945 α
946 β
947 γ
948 δ
949 ε
950 ζ
951 η
952 θ
953 ι
954 κ
955 λ
956 μ
957 ν
958 ξ
959 ο
960 π
961 ρ
962 ς
963 σ
964 τ
965 υ
966 φ
967 χ
968 ψ
969 ω
970 ϊ
971 ϋ
972 ό
973 ύ
974 ώ
975 Ϗ
976 ϐ
977 ϑ
978 ϒ
979 ϓ
980 ϔ
981 ϕ
982 ϖ
983 ϗ
984 Ϙ
985 ϙ
986 Ϛ
987 ϛ
988 Ϝ
989 ϝ
990 Ϟ
991 ϟ
992 Ϡ
993 ϡ
994 Ϣ
995 ϣ
996 Ϥ
997 ϥ
998 Ϧ
999 ϧ

In [41]:
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [42]:
string.printable

#digits
#lower
#upper

'0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~ \t\n\r\x0b\x0c'

In [48]:
#wap ask the user find number of 'a' letters in a given string
#string='hai how are you how do you do'
#ans:3

#first iterate the string using in and for loop
#print each letter===>i
#apply the if condition i=='a'
#                       count+=1
string='hai how are you how do you do'
count=0
for i in string:
    if i=='a':
        count=count+1
        
print(count)

2

In [10]:
#wap count the vowels in a string
#string='hai how are you'
#7
string='hai how are you'
count=0
for i in string:
    if i in 'aeiou':
            count=count+1
print(count)

7

In [18]:
#wap count the unique vowels in a string
#string='hai how are you'
#5
string1='hai how are you'
count=1
for i in string1:
    for i in string2:
        string2=string1+1
        
print(count)

0

In [2]:
count=1
i=2
n=eval(input("enter the number"))
while i<=n:                                                                                            
    temp=count+i
    print("{} + {} is {}".format(count,i,temp))
    count=count+i
    i=i+1

enter the number7
1 + 2 is 3
3 + 3 is 6
6 + 4 is 10
10 + 5 is 15
15 + 6 is 21
21 + 7 is 28

**concatenation

In [54]:
str1='hai'
str2='how'
str1+str2

'haihow'

In [55]:
str1-str2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [56]:
str1*str2

TypeError: can't multiply sequence by non-int of type 'str'

In [57]:
str1/str2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [58]:
3*str2

'howhowhow'

In [60]:
str1+str1+str1

'haihaihai'

- how to read 
- single/double/triple
- type
- len
- max
- min
- in  (how to iterate through for loop)
- cancatenation
- subtraction/mul/div
- in
- mutable
- immutable
- slice

**index

In [62]:
string1='python'    #6 letters

In [63]:
p y t h o n
0 1 2 3 4 5

SyntaxError: invalid syntax (691820132.py, line 1)

In [67]:
string1[0],string1[1],string1[2],string1[3],string1[4],string1[5]

('p', 'y', 't', 'h', 'o', 'n')

In [74]:
string1[0],string1[1],string1[2],string1[3],string1[4],string1[5]

('p', 'y', 't', 'h', 'o', 'n')

In [73]:
for i in range(5):
    print(string1[i])

p
y
t
h
o

In [72]:
string1='python'

# i want to print letters using in operator
# i want to print letters using range operator
for i in string1:
    print(i)
    
for i in range(len(string1)):
    print(string1[i])

p
y
t
h
o
n
p
y
t
h
o
n

In [5]:
name='python class'
len(name)
#if you want print only letter: in
#if you want print index: range

12

In [8]:
name='python class'
for i in range(len(name)):
    print("the index no of {} is {}".format(name[i],i))

the index no of p is 0
the index no of y is 1
the index no of t is 2
the index no of h is 3
the index no of o is 4
the index no of n is 5
the index no of   is 6
the index no of c is 7
the index no of l is 8
the index no of a is 9
the index no of s is 10
the index no of s is 11

In [5]:
string1='python'

#i want to print the letters using for loop
#in
#range

In [7]:
for i in string1:           #i means each letter
    print(i,end=' ')
    
for i in range(len(string1)):   #i means number
    print(i,string1[i])

p y t h o n 0 p
1 y
2 t
3 h
4 o
5 n

In [ ]:
'the index of p is 0'
'the index of y is 1'

In [9]:
for i in range(len(string1)):
    print('the index of {} is {}'.format(string1[i],i))

the index of p is 0
the index of y is 1
the index of t is 2
the index of h is 3
the index of o is 4
the index of n is 5

In [ ]:
-6 -5 -4 -3 -2 -1 
 p  y  t  h  o  n 
0   1  2 3  4 5===========>pos

In [10]:
string1[-1]

'n'

In [11]:
#iterate the for loop on string1
#print the letters using negative index
#the idea is first you need to print the numbers between -6 to -1 using for loop
for i in range(-6,0):
    print("the negative index of {} is {}".format(string1[i],i))

the negative index of p is -6
the negative index of y is -5
the negative index of t is -4
the negative index of h is -3
the negative index of o is -2
the negative index of n is -1

In [12]:
for i in range(-6,0):print(i,end=' ')

-6 -5 -4 -3 -2 -1

In [19]:
for i in range(-len(string1),0):
    print('the index of {} is {}'.format(string1[i],i))

the index of p is -6
the index of y is -5
the index of t is -4
the index of h is -3
the index of o is -2
the index of n is -1

In [21]:
#'the positive index is 0 and the negative index is -6 for a letter p'
string1='python'
for i in range(len(string1)):
    print('the positive index is {} and the negative index is {} for {}'.format(i,string1[i],i-6))

the positive index is 0 and the negative index is p for -6
the positive index is 1 and the negative index is y for -5
the positive index is 2 and the negative index is t for -4
the positive index is 3 and the negative index is h for -3
the positive index is 4 and the negative index is o for -2
the positive index is 5 and the negative index is n for -1

In [24]:
for i in range(-len(string1),0):
    print("the negative index of {} is {}".format(string1[i],i))
               
for i in range(-len(string1),0):
    print("the negative index of {} is {}".format(string1[i],i-6))
               
for i in range(-len(string1),0):
        print('the positive index is {} and the negative index is {} for {}'.format(i,string1[i],i-6))

the negative index of p is -6
the negative index of y is -5
the negative index of t is -4
the negative index of h is -3
the negative index of o is -2
the negative index of n is -1
the negative index of p is -12
the negative index of y is -11
the negative index of t is -10
the negative index of h is -9
the negative index of o is -8
the negative index of n is -7
the positive index is -6 and the negative index is p for -12
the positive index is -5 and the negative index is y for -11
the positive index is -4 and the negative index is t for -10
the positive index is -3 and the negative index is h for -9
the positive index is -2 and the negative index is o for -8
the positive index is -1 and the negative index is n for -7

In [26]:
for i in range(-len(string1),0):
    print("the negative index of {} is {}".format(string1[i],i+6))
               
for i in range(-len(string1),0):
    print("the negative index of {} is {}".format(string1[i],i))
               
for i in range(-len(string1),0):
        print('the positive index is {} and the negative index is {} for {}'.format(i,string1[i],i))

the negative index of p is 0
the negative index of y is 1
the negative index of t is 2
the negative index of h is 3
the negative index of o is 4
the negative index of n is 5
the negative index of p is -6
the negative index of y is -5
the negative index of t is -4
the negative index of h is -3
the negative index of o is -2
the negative index of n is -1
the positive index is -6 and the negative index is p for -6
the positive index is -5 and the negative index is y for -5
the positive index is -4 and the negative index is t for -4
the positive index is -3 and the negative index is h for -3
the positive index is -2 and the negative index is o for -2
the positive index is -1 and the negative index is n for -1

In [27]:
i=0
while i<len(string1):
    print('the positive index is {} and the negative index is {} for {}'.format(i,string1[i],i))
    i=i+1

the positive index is 0 and the negative index is p for 0
the positive index is 1 and the negative index is y for 1
the positive index is 2 and the negative index is t for 2
the positive index is 3 and the negative index is h for 3
the positive index is 4 and the negative index is o for 4
the positive index is 5 and the negative index is n for 5

In [32]:
string='hai how are you how do you do'
count=0
for i in range(len(string1)):
    if string1=='a':
        count=count+1
        
print(count)

0

***Mutable and immutable concept***
mutable-----we can change
immutable------we cannot change the value by using index operations
***Strings are immutable***

In [33]:
list1=[100,200,300]
list1[0]=1000
list1

[1000, 200, 300]

**slice*

h a i   h o w   a r e     y  o  u 
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14

In [36]:
#range(start,stop,end)
string1='hai how are you'
string1[2:10:3]

'ioa'

In [38]:
string1[:]
#nothing mentioned means start and last letter

'hai how are you'

In [39]:
string1[::]
#start=0
#stop=last letter len(string1)
#step=+1

'hai how are you'

In [41]:
string1='hai how are you'
string1[2:10]
string1[2:10:3]
string1[:]
string1[::]

'hai how are you'

In [42]:
string1[2:10:-3]

''

In [43]:
for i in range(2,10,-3):print(i)

In [ ]:
-15 -14  -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1
h    a    i       h    o  w     a  r  e     y  o  u 
0    1    2    3  4    5  6  7  8  9  10 11 12 13 14

In [ ]:
string1[2:14:2]       #p
string1[2:14:-2]      #np
string1[2:-14:2]      #np
string1[2:-14:-2]     #p
string1[-2:14:2]      #p
string1[-2:-14:2]     #np
string1[-2:-14:-2]    #p

In [44]:
 for i in range(2,-14,-2):print(i,end=' ')

2 0 -2 -4 -6 -8 -10 -12

In [45]:
string1[2:-14:-2]

'i'

In [46]:
string1[-2:-14:-2]

'o r o '

**string methods**

In [4]:
import pandas
dir(pandas)
help(pandas.read_csv)

Help on function read_csv in module pandas.io.parsers.readers:

read_csv(filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]', *, sep: 'str | None | lib.NoDefault' = <no_default>, delimiter: 'str | None | lib.NoDefault' = None, header: "int | Sequence[int] | None | Literal['infer']" = 'infer', names: 'Sequence[Hashable] | None | lib.NoDefault' = <no_default>, index_col: 'IndexLabel | Literal[False] | None' = None, usecols=None, dtype: 'DtypeArg | None' = None, engine: 'CSVEngine | None' = None, converters=None, true_values=None, false_values=None, skipinitialspace: 'bool' = False, skiprows=None, skipfooter: 'int' = 0, nrows: 'int | None' = None, na_values=None, keep_default_na: 'bool' = True, na_filter: 'bool' = True, verbose: 'bool' = False, skip_blank_lines: 'bool' = True, parse_dates: 'bool | Sequence[Hashable] | None' = None, infer_datetime_format: 'bool | lib.NoDefault' = <no_default>, keep_date_col: 'bool' = False, date_parser=<no_default>, date_format: 'str | None' = None, dayfirst: 'bool' = False, cache_dates: 'bool' = True, iterator: 'bool' = False, chunksize: 'int | None' = None, compression: 'CompressionOptions' = 'infer', thousands: 'str | None' = None, decimal: 'str' = '.', lineterminator: 'str | None' = None, quotechar: 'str' = '"', quoting: 'int' = 0, doublequote: 'bool' = True, escapechar: 'str | None' = None, comment: 'str | None' = None, encoding: 'str | None' = None, encoding_errors: 'str | None' = 'strict', dialect: 'str | csv.Dialect | None' = None, on_bad_lines: 'str' = 'error', delim_whitespace: 'bool' = False, low_memory=True, memory_map: 'bool' = False, float_precision: "Literal['high', 'legacy'] | None" = None, storage_options: 'StorageOptions' = None, dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>) -> 'DataFrame | TextFileReader'
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, None, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : int, str, sequence of int / str, or False, optional, default ``None``
      Column(s) to use as the row labels of the ``DataFrame``, either given as
      string name or column index. If a sequence of int / str is given, a
      MultiIndex is used.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g. when you have a malformed file with delimiters at
      the end of each line.
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). If ``names`` are given, the document
        header row(s) are not taken into account. For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.

        .. versionadded:: 1.5.0

            Support for defaultdict was added. Specify a defaultdict as input where
            the default determines the dtype of the columns which are not explicitly
            listed.
    engine : {'c', 'python', 'pyarrow'}, optional
        Parser engine to use. The C and pyarrow engines are faster, while the python engine
        is currently more feature-complete. Multithreading is currently only supported by
        the pyarrow engine.

        .. versionadded:: 1.4.0

            The "pyarrow" engine was added as an *experimental* engine, and some features
            are unsupported, or may not work correctly, with this engine.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True in addition to case-insensitive variants of "True".
    false_values : list, optional
        Values to consider as False in addition to case-insensitive variants of "False".
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'None',
        'n/a', 'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparsable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.

        .. deprecated:: 2.0.0
            A strict version of this argument is now the default, passing it has no effect.

    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.

        .. deprecated:: 2.0.0
           Use ``date_format`` instead, or read in as ``object`` and then apply
           :func:`to_datetime` as-needed.
    date_format : str or dict of column -> format, default ``None``
       If used in conjunction with ``parse_dates``, will parse dates according to this
       format. For anything more complex,
       please read in as ``object`` and then apply :func:`to_datetime` as-needed.

       .. versionadded:: 2.0.0
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If True, use a cache of unique, converted dates to apply the datetime
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    compression : str or dict, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and 'filepath_or_buffer' is
        path-like, then detect compression from the following extensions: '.gz',
        '.bz2', '.zip', '.xz', '.zst', '.tar', '.tar.gz', '.tar.xz' or '.tar.bz2'
        (otherwise no compression).
        If using 'zip' or 'tar', the ZIP file must contain only one data file to be read in.
        Set to ``None`` for no decompression.
        Can also be a dict with key ``'method'`` set
        to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``, ``'tar'``} and other
        key-value pairs are forwarded to
        ``zipfile.ZipFile``, ``gzip.GzipFile``,
        ``bz2.BZ2File``, ``zstandard.ZstdDecompressor`` or
        ``tarfile.TarFile``, respectively.
        As an example, the following could be passed for Zstandard decompression using a
        custom compression dictionary:
        ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

        .. versionadded:: 1.5.0
            Added support for `.tar` files.

        .. versionchanged:: 1.4.0 Zstandard support.

    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional, default "utf-8"
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

        .. versionchanged:: 1.2

           When ``encoding`` is ``None``, ``errors="replace"`` is passed to
           ``open()``. Otherwise, ``errors="strict"`` is passed to ``open()``.
           This behavior was previously only the case for ``engine="python"``.

        .. versionchanged:: 1.3.0

           ``encoding_errors`` is a new argument. ``encoding`` has no longer an
           influence on how encoding errors are handled.

    encoding_errors : str, optional, default "strict"
        How encoding errors are treated. `List of possible values
        <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

        .. versionadded:: 1.3.0

    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    on_bad_lines : {'error', 'warn', 'skip'} or callable, default 'error'
        Specifies what to do upon encountering a bad line (a line with too many fields).
        Allowed values are :

            - 'error', raise an Exception when a bad line is encountered.
            - 'warn', raise a warning when a bad line is encountered and skip that line.
            - 'skip', skip bad lines without raising or warning when they are encountered.

        .. versionadded:: 1.3.0

        .. versionadded:: 1.4.0

            - callable, function with signature
              ``(bad_line: list[str]) -> list[str] | None`` that will process a single
              bad line. ``bad_line`` is a list of strings split by the ``sep``.
              If the function returns ``None``, the bad line will be ignored.
              If the function returns a new list of strings with more elements than
              expected, a ``ParserWarning`` will be emitted while dropping extra elements.
              Only supported when ``engine="python"``

    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.
    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point

**capitalize**

In [48]:
string1='welcome'
help(string1.capitalize)

Help on built-in function capitalize:

capitalize() method of builtins.str instance
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

In [ ]:
import random
random.randint()

In [49]:
string1='welcome'
string1.capitalize()

'Welcome'

*upper

In [50]:
string1.upper()

'WELCOME'

*lower

In [52]:
string1.lower()

'welcome'

In [54]:
string1='weLCome'
print(string1.capitalize())
print(string1.upper())
print(string1.lower())

Welcome
WELCOME
welcome

In [56]:
string1='hai how are you'

In [57]:
string1.count('a')

2

In [58]:
count=0
for i in string1:
    if i=='a':
        count+=1

In [59]:
string1='welcome'

In [63]:
str1=string1[:2]
str2=string1[3:]
str1+'L'+str2

'weLcome'

In [64]:
string1.replace('l','L')

'weLcome'

In [14]:
string1='python'    #i want to change p======P
string2='P'
string1+string2 
string1.title()
# output==Python

'Python'

In [12]:
number=3+5j
number

(3+5j)

In [13]:
dir(number)

['__abs__',
 '__add__',
 '__bool__',
 '__class__',
 '__complex__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 'conjugate',
 'imag',
 'real']

In [2]:
string='python'

In [3]:
for i in range(5):
    print(i)
    print(string[i])

0
p
1
y
2
t
3
h
4
o

- i want to print letters using in operator
- i want to print letters using range operator

In [4]:
string1='python'
for i in string1:
    print(i)
for i in range(len(string1)):
    print(i)
    print(string1[i])

p
y
t
h
o
n
0
p
1
y
2
t
3
h
4
o
5
n

*capitalize: first letter as capital
*upper: all letters are in upper case
*lower: all letters are in lower case
*casefold:case less comparison(lower case)

In [5]:
string2='welcome'
string2.casefold()

'welcome'

In [6]:
string1='hai how are you'
string1.count('hai')

1

In [7]:
string1='ola'
print(string1.count('ola'))
print(string1.count('ola '))
print(string1.count('ol'))
print(string1.count('oa'))

1
0
1
0

In [8]:
string1='ola ola ola'
print(string1.count('ola'))
print(string1.count('ola '))
print(string1.count('ol'))
print(string1.count('oa'))

3
2
3
0

In [9]:
string1='ola ola'
print(string1.count('ola'))
print(string1.count('ola '))
print(string1.count('ol'))
print(string1.count('oa'))

2
1
2
0

In [10]:
string1='ola ola ola'
print(string1.count('a',4))
print(string1.count('a',6))
print(string1.count('a',4,6))
print(string1.count('a',4,7))

2
2
0
1

In [11]:
string1='ola ola ola ola'
count=0
for i in range(len(string1)):
    if string1[i:i+3]=='ola':
        count=+1
print(count)
#i=0 string1[0:3]: 0 1 2  : ola
#i=1 string1[1:4]: 1 2 3  : la

1

In [ ]:
#how many ola are there
#do till now what we complete use that only except count method
count=0
word=''
for i in string1:
    if i

In [14]:
string1.count('a')
string1.count('ola')

4

*replcae

In [16]:
string1='welcome'
#replace 'l' with 'L'
string1.replace('l','LLL')

'weLLLcome'

In [17]:
string1='restart'
string1.replace('r',('$'))

'$esta$t'

In [19]:
string1='restart rrr'
#replace 'r' with '$'
string1.replace('r', '$',1)

'$estart rrr'

In [21]:
string1='restart'
#o/p: 'resta$t'
s1=string1[0]
s2=string1[1:].replace('r','$')
s1+s2

'resta$t'

In [22]:
string1[::-1].replace('r','$',1)[::-1]

'resta$t'

*index

In [23]:
string1='welcome python'
#index of 'c'
string1.index('c')

3

In [24]:
string1.index('z') #sub string not found

ValueError: substring not found

In [26]:
string1='hai how are you and'
#how many 'a' are there
#what are the indexes of 'a'
count=0
for i in string1:
    if i=='a':
        count+=1
        
print(count)
string1.count('a')

3

3

In [27]:
for i in range(len(string1)):
    if string1[i]=='a':
        print(i)

1
8
16

In [28]:
string1.index('a')

1

In [29]:
string1='hai hai hai hai hai'
i1=string1.index('a')
i2=string1.index('a')
i3=string1.index('a')
i4=string1.index('a')
i5=string1.index('a')

In [31]:
string1='welcome hello hello'
string1.index('l')

2

*find

In [34]:
#take one string1
#string1.find()
#apply shift+tab
# read what it is says
#implement that

In [37]:
string1='hai hai'
string1.find('z')   #no error

#if substring not found it returns-1

string1.index('z')
#value error: sub string not found

string1.count('z')   #no error
#rerturns zero

ValueError: substring not found

*capitilize/upper/lower/casefold
*index/find
*count
*replace

In [1]:
str1='hai how are you,i am good'
str1.index('i')   #first occurrence

2

In [2]:
str1.index('i',str1.index('i')+1)

16

*strip-lstrip-rstrip

In [16]:
str1=' hello how are you'
str2=" hello how are you"
str3="hello how are you "

# I want remove the spaces
# If you want remove the spaces on both sides use strip method
# If you want remove the spaces only left side then use lstrip: left strip
# if you want remove the spcaes only ride side then use rstrip: right strip

In [17]:
print(str1.strip())
print(str1.lstrip())
print(str1.rstrip())

hello how are you
hello how are you
 hello how are you

In [5]:
print(str1.strip())
print(str2.lstrip())
print(str3.rstrip())

hello how are you
hello how are you
hello how are you

In [6]:
print(str3)

hello how are you

In [7]:
str3

'hello how are you '

In [ ]:
#wap to extract

str1='python.anaconda@nareshit.com'
str2='anu.kundeti@nareshit.com'
str3='virat.kohli@bcci.com'
#Extract first name: python
#Extract second name: anaconda
#Extract Institue name: nareshit

#do not count it
#use methods find/index

In [11]:
str1='python'
str1

'python'

In [18]:
str1[0:6],str1[7:15],str1[16:24]
str1.find('.')

-1

In [19]:
str1[0:str1.find('.')]
str1[7:15]

'how are '

In [22]:
str1='anu.kundeti@nareshit.com'
print("First name:",str1[:str1.find('.')])
print("Second name:",str1[str1.find('.')+1:str1.find('@')])
print("Institute name:",str1[str1.find('@')+1:str1.find('.',str1.find('.')+1)])

First name: anu
Second name: kundeti
Institute name: nareshit

In [23]:
str1='anu.kundeti@nareshit.com'
num1=str1.find('.')
f_name=str1[:num1]
print(f_name)
num2=str1.find('@')
s_name=str1[num1+1:num2]
print(s_name)
num3=str1.find('.',str1.find('.')+1)
c_name=str1[num2+1:num3]
print(c_name)

anu
kundeti
nareshit

In [24]:
str1='a.b@c.com'
first_dot=str1.index('.')
second_dot=str1.index('.',first_dot+1) #after completion of first dot
str1[str1.find('@')+1:second_dot]

'c'

In [25]:
str1='3.1489'
#Extract 3
#Extract 1489

str1[str1.index('.')-1]
str1[str1.index('.')+1:]  #str1[<first>:<last>]

'1489'

In [26]:
str1.index('.')+1

2

*startswith-endswith

In [27]:
str1='Hai Anu! How are you'

In [29]:
str1.startswith('Hai Anu! How are you')
#str1.startswith('h')

True

In [30]:
str1.endswith('you')

True

In [31]:
str1.startswith(str1)

#str1.endswith(str1)

True

In [32]:
str1.endswith(str1)

True

In [33]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',

In [ ]:
# take one string1
# string1.isalnum()
# isalpha
# isnumeric
# isupper
# islower

In [46]:
string1='abc'
string2='123'
string3='abc123'
string4='ABC'
string1.isnumeric()
       .isalpha
        .isalnum
        .isupper
        .islower

IndentationError: unexpected indent (860813327.py, line 6)

In [47]:
str1='75hai how are 7324you'
str1.isalnum()

False

In [ ]:
str1='abc.123'

*split

In [48]:
str1='Hai Anu! How are you '
str1.split()
#if i not provide anything inside brackets:space
#output is in list format

['Hai', 'Anu!', 'How', 'are', 'you']

In [49]:
str1='Hai Anu! How are you '
str1.split(',')

['Hai Anu! How are you ']

In [50]:
str1='Hai Anu! How are you '
str1.split('a')  #h i how, re you

['H', 'i Anu! How ', 're you ']

In [51]:
str1='Hai Anu! How are you '
str1.split()  #h i how, re you

['Hai', 'Anu!', 'How', 'are', 'you']

In [52]:
str1='%%%%Hello%%%%'
str1.strip('%')

'Hello'

- Capitalize/upper/lower/casefold
- Index/find
- Count
- Replace
- Lstrip/rstrip/strip
- startswith/endswith
- isalpha/isnumeric/isalnum
- split

In [ ]:
#wap to identify the longest word and shortest word in a given sentence
#wap to identify the most repated word in a given sentence
#wap out of 3 strings 'hyd','blr','mumbai' which is greater and which is lower

. How to read the strings
. Single quotes/double quotes/triple quotes
. Docstring
. type
. max
. min
. len
. addition of two strings(concatenation)
. multiplication
. subtraction
. divison 
. in operator(for loop)
. index
. mutable condition
. slice
. string methods:
    - capitalize/upper/lower/casefold
    - index/find
    - count
    - replace
    - lstrip/rstrip/strip
    - startswith/endswith
    - isalpha/isnumeric/isalnum
    - split