In [ ]:
# How to read the strings

SingleQuotes

In [3]:
# single quote
string1='apple'
string1

'apple'

DoubleQuotes

In [2]:
# double quotes
string2="cherry"
string2

'cherry'

TripleQuotes

In [3]:
# Triple quotes
string3="hai 'apple'"
print(string3)

hai 'apple'

DocStrings

In [ ]:
# doc string is used to say some information about python code

In [1]:
'hai apple' # if you want to highlite apple
string4='hai "apple"'
print(string4)

hai "apple"

Type

In [4]:
string1

'apple'

In [5]:
type(string1) #string

str

length

In [5]:
len(string1)

5

Max âˆ’ Min

In [6]:
string1='lL'
max(string1) # apple

'l'

In [7]:
ord('l') #it will provide ascii value of char

108

In [8]:
ord('a')

97

In [9]:
string1='apple'
max(string1),min(string1)

('p', 'a')

In [11]:
for i in range(len('apple')): #in is used only for strings
    print(i)

0
1
2
3
4

In [12]:
for i in string1:
    print("the ascii value of {} is {}".format(i,ord(i)))

the ascii value of a is 97
the ascii value of p is 112
the ascii value of p is 112
the ascii value of l is 108
the ascii value of e is 101

Concatination
Addition

In [14]:
str1='anu'
str2='sha'
str1+str2

'anusha'

subtraction

In [15]:
str1='Ammu'
str2='Kanna'
str1-str2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

Division

In [16]:
str1='Anu'
str2='Akhi'
str1/str2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

Multiplication

In [17]:
str1='anu'
str2='ammu'
str1*str2

TypeError: can't multiply sequence by non-int of type 'str'

In [18]:
3*str1

'anuanuanu'

In [19]:
str2+str2+str2

'ammuammuammu'

*Addition of two strings is known as Concatination
*We cannot subtract/divide/multiply two strings
*If we do we get unsupported operand
*We cannot multiply sequence by non-int of type 'str'

In

In [20]:
string1='Anu'
'A' in string1
'n' in string1
'u' in string1
# i in string1

True

In [21]:
for i in string1:
    print(i)

A
n
u

*range(): we have to provide number inside the range
*in: is used only for strings
*If we want to print the letters using for loop go for in operator

Index

In [22]:
for i in range(3):
    print(string1[i])

A
n
u

In [23]:
string1='Anuu'
for i in string1:
     print(i)
for i in range(len(string1)):
     print(i,string1[i])

A
n
u
u
0 A
1 n
2 u
3 u

In [24]:
'the index of s is 0'
'the index of i is 1'

'the index of i is 1'

In [ ]:
-3 -2 -1
a  n  u
0  1  2

In [33]:
string1[-1]

'u'

In [34]:
string1[-3],string1[-2],string1[-1]

('n', 'u', 'u')

In [35]:
string1='anu'
for i in range(-len(string1),0):
     print("the negative index of {} is {}".format(string1[i],i))

the negative index of a is -3
the negative index of n is -2
the negative index of u is -1

In [37]:
for i in range(len(string1)):
    print('the positive index of {} is {}'.format(string1[i],i))

the positive index of a is 0
the positive index of n is 1
the positive index of u is 2

In [40]:
string1='anu'
for i in range(len(string1)):
     print("the positive index is {} and negative index is {}".format(string1[i],i-6))

the positive index is a and negative index is -6
the positive index is n and negative index is -5
the positive index is u and negative index is -4

In [41]:
for i in range(-len(string1),0):
    print(i,i+3)

-3 0
-2 1
-1 2

In [45]:
string1='hai anu'
count=0
for i in range(len(string1)):
    if string1[i]=='a':
        count+=1
print(count)

2

Mutable and Immutable Concept

*Mutable------> We can change
*Immutable------> We cannot change the value by using index operation
*Strings are Immutable

In [46]:
list1=[100,200,300]
list1[0]=1000
list1

[1000, 200, 300]

Slice

In [ ]:
h a i s i r i
0 1 2 3 4 5 6 7

In [50]:
string1='hai anu'
string1[2:6]

'i an'

In [51]:
string1='hai anu'
string1[1:2:5]

'a'

In [52]:
string1[:]

'hai anu'

In [53]:
len(string1)

7

In [54]:
string1='hai anu'
string1[3:7]

' anu'

In [55]:
for i in range(2,4,6):print(i,end='')

2

String Methods

In [ ]:
Capitilize

In [57]:
string1='anu'
string1.capitalize()

'Anu'

Upper

In [58]:
string1.upper()

'ANU'

Lower

In [59]:
string1.lower()

'anu'

In [60]:
string1='anu'
print(string1.capitalize())
print(string1.upper())
print(string1.lower())

Anu
ANU
anu

In [61]:
string1.count('a')

1

In [ ]:
for i in string1:
if i=='a':
count+=1

In [62]:
string1='anu'

In [63]:
string1.replace('a','A')

'Anu'

*Capitilize : First letter as capital
*Upper: All letters are in upper case
*lower: All letters are i lower case
*Case fold : Case less comparision(lower case)

count

In [64]:
string1='hai ammu anu'
string1.count('i')

1

In [65]:
string1.count('hai')

1

In [67]:
word=''
for i in string1:
    if i != ' ':
        word+=i
        if word == 'mom':
            count+=1
        word=''
count

2

Replace

In [68]:
string1='thankyou'
string1.replace('k','#')

'than#you'

In [69]:
string1='happy'
string1.replace('p','@')

'ha@@y'

In [70]:
len(string1)
max(string1)

'y'

Index

In [71]:
string1='thankyou sir'
string1.index('o')

6

In [74]:
for i in range(len(string1)):
    if string1[i]=='a':
        print(i)

2

In [75]:
string1.index('i')

10

Find

In [76]:
string1='hello hello'
string1.find('z')

-1

Strip - lStrip - rstrip

In [78]:
str1=' hello hai anu '
str2=" hello hai anu"
str3="hello hai anu "

In [79]:
print(str1.strip())
print(str2.lstrip())
print(str3.rstrip())

hello hai anu
hello hai anu
hello hai anu

In [80]:
print(str3)

hello hai anu

Startswith Endswith

In [81]:
str1='good morning'

In [82]:
str1.startswith('good morning')

True

In [83]:
str1.endswith('morning')

True

In [85]:
str1.startswith(str1)

True

isalpha isnumeric isalnum

In [86]:
str1='11sin happy birthday'
str1.isalnum()

False

In [87]:
str1='abc.123'

In [88]:
str1='85230'
str1.isnumeric()

True

In [89]:
str1='anu'
str1.isalpha()

True

Split

In [90]:
str1='hey anu how are you'
str1.split()

['hey', 'anu', 'how', 'are', 'you']

In [91]:
str1='hey anu,how are you'
str1.split(',')

['hey anu', 'how are you']

In [92]:
str1='%%%%% lucky %%%%%'
str1.strip('%')

' lucky '