In [1]:
list1=['Anu','Akhi','Snehi']
list2=[21,20,22]

In [ ]:
# i am modify the code

In [2]:
'Anu has age 21'
'Akhi has age 20'
'Snehi has age 22'

'Snehi has age 22'

In [3]:
for i,j in zip(list1,list2):
    print(i,j)

Anu 21
Akhi 20
Snehi 22

In [ ]:
#{key:value}

In [4]:
d1={'Anu':21,
    'Akhi':20,
   'Snehi':22}
d1
#keys='Anu', 'Akhi', 'Snehi'
#values=21,20,22

{'Anu': 21, 'Akhi': 20, 'Snehi': 22}

In [1]:
d2={25:'Anu',30:'Akhi',35:'Snehi'}
d2

{25: 'Anu', 30: 'Akhi', 35: 'Snehi'}

In [2]:
d3={'even':[3,5,7],
   'odd':[2,4,6]}
d3

{'even': [3, 5, 7], 'odd': [2, 4, 6]}

In [3]:
d4={(2,4,6):'even',
   (3,5,7):'odd'}
d4

{(2, 4, 6): 'even', (3, 5, 7): 'odd'}

In [ ]:
{(2, 4, 6): 'even', (3, 5, 7): 'odd'}

In [5]:
#{'key':<{}>}
d5={'items list':{'fruits':'Apple'}}
d5

{'items list': {'fruits': 'Apple'}}

In [6]:
d6={{'fruits':'Apple'}:'item_list'}
d6

TypeError: unhashable type: 'dict'

In [ ]:
a=[1,2]
b=(1,2)

In [15]:
a,b=[1,2]
c,d=(1,2)
d

2

In [16]:
a=1,2
a

(1, 2)

In [17]:
d1={'A':1,'B':2,'A':1}
d1

{'A': 1, 'B': 2}

In [20]:
d1={'A':1,'B':2,'A':3}
d1

{'A': 3, 'B': 2}

- Dictionary is a key: value pair
- at values position you can take any data type
- at keys position list and dictionary  will fail
- Duplicates are not allowed
- If you will update a key value, latest value it will take

*type

In [21]:
type(d1)

dict

-str
-list
-dict
-int
-float
-bool
-complex
-tuple
-set

In [22]:
d1={'Anu':21,
    'Akhi':20,
   'Snehi':22}

max(d1)

'Snehi'

- Maximum value and minimum value based on the key only

In [24]:
min(d1)
'Anu',
'Akhi',
'Snehi'

'Snehi'

In [25]:
len(d1)

3

In [26]:
d1

{'Anu': 21, 'Akhi': 20, 'Snehi': 22}

In [27]:
sum(d1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [28]:
d2={1:2,3:4}
sum(d2)

4

In [30]:
d2={100:'2',300:'4'}
sum(d2)

400

- If keys has numeric values then we can do sum

In [31]:
'a'-'b'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [32]:
'a'/'b'

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [33]:
'a'*'b'

TypeError: can't multiply sequence by non-int of type 'str'

-type
-max
-min
-len
-sum

*in

In [36]:
d1={'Anu':21,
    'Akhi':20,
   'Snehi':22}

'Anu' in d1

True

In [37]:
for i in d1:
    print(i)

Anu
Akhi
Snehi

In [38]:
str1='apple'
'a' in str1

l1=[1,2,3]
i in l1

for i in l1:
    print(i)

1
2
3

*index

In [39]:
l1=[10,20,30,40]
l1[0]

str1='apple'
str1[0]

'a'

In [40]:
d1={'Anu':21,
    'Akhi':20,
   'Snehi':22}
d1[0]

KeyError: 0

In [41]:
d1={'Anu':21,
    'Akhi':20,
   'Snehi':22}
d1['Anu']
#can we get values using for loop

21

In [42]:
for i in d1:
    print(i)

Anu
Akhi
Snehi

In [43]:
for key in d1:
    print(key)

Anu
Akhi
Snehi

In [44]:
for key in d1:
    print(key,d1[key])

Anu 21
Akhi 20
Snehi 22

In [46]:
for key in d1:
    print("the age of {} is {}".format(key,d1[key]))

the age of Anu is 21
the age of Akhi is 20
the age of Snehi is 22

In [47]:
for i in range(len(l1)):
    print(i,l1[i])

0 10
1 20
2 30
3 40

In [48]:
for key in range(len(d1)):
    print(key)
    #print("the age of {} is {}".format(key,d1[key]))  #not possible

0
1
2

Creating an empty dictionary and update

In [49]:
s=''

for i in 'apple':
    s=s+1

TypeError: can only concatenate str (not "int") to str

In [52]:
l=[]
for i in range(10):
    l.append(i)
    
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
d1={}
d1['fruite']='Apple'
d1

{'fruite': 'Apple'}

In [58]:
#wap createa dictionary and update('name:','company:','place')
d1={}
d1["name"]='Anu'
d1["sir name"]='Omkar'
d1["company"]='infosys'
d1["place"]='hyderabad'
d1

{'name': 'Anu',
 'sir name': 'Omkar',
 'company': 'infosys',
 'place': 'hyderabad'}

In [8]:
#wap create a dictionary based on two lists
#names=['anu','akhi','snehi']
#age=[21,20,22]
names=['anu','akhi','snehi']
age=[21,20,22]
dict1={}
for i,j in zip(names,age):
    dict1[i]=j
dict1

{'anu': 21, 'akhi': 20, 'snehi': 22}

In [9]:
dict1={}
for i in range(len(names)):
    dict1[names[i]]=age[i]
dict1

{'anu': 21, 'akhi': 20, 'snehi': 22}

In [10]:
list1=[]
for i in range(len(names)):
    list1.append(i)
    
list1=[i for i in range(len(names))]
list1

[0, 1, 2]

In [12]:
dict1={}
for i in range(len(names)):
    dict1[names[i]]=age[i]
    
dict1={names[i]:age[i] for i in range(len(names))}

In [13]:
dict1={}
for i in range(len(names)):
    dict1[names[i]]=age[i]
    
dict1={names[i]:age[i] for i in range(len(names))}

dict1={name:age for name,age in zip(names,age)}

names[0]

'anu'

In [ ]:
dict1={}
for i in range(len(names)):
    dict1[names[i]]=age[i]
    
dict1={names[i]:age[i] for i in range(len(names))}

dict1={name:age for name,age in zip(names,age)}

names[0],age[0]

In [73]:
names=['anu','akhi','snehi']
age=[21,20,22]
dict1={}
for i,j in zip(names,age):
    dict1[i]=j
dict1
################################################
dict1={names:age for names,age in zip(names,age)}
dict1

{'anu': 21, 'akhi': 20, 'snehi': 22}

In [67]:
#wap take random numbers
#and create a dictionary with even and odd
#output:{'even':[20,22],'odd':[19,21,33]}

#step-1: take empty dictionary
#step-2: take two even odd list
#step-3: import random
#step-4: for i in range(5):
#step-5:    num=random.randint(a,b)
#step-6:    if<even>:
#step-7:      append the values in the list
#step-8:    else:
#step-9:      append the values in add list
#step-10:create dictionary
dict1={}
even=[]
odd=[]
import random
for i in range(5):
    num=random.randint(1,50)
    if num%2==0:
        even.append(num)
    else:
        odd.append(num)

In [ ]:
d3={'even:' i }

In [2]:
import os

In [3]:
os.getcwd()

'C:\\Users\\kanu7'

*Dictionary methods

In [4]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

*items-keys-values

In [5]:
d1={'Anu':21,
    'Akhi':20,
   'Snehi':22}

In [6]:
d1

{'Anu': 21, 'Akhi': 20, 'Snehi': 22}

In [24]:
#items
items=d1.items()
items

dict_items([('Anu', 21), ('Akhi', 20), ('Snehi', 22)])

In [25]:
type(items)

dict_items

In [22]:
#keys
keys=d1.keys()
keys

dict_keys(['Anu', 'Akhi', 'Snehi'])

In [23]:
type(keys)

dict_keys

In [20]:
#values
values=d1.values()
values

dict_values([21, 20, 22])

In [21]:
type(values)

dict_values

In [26]:
l1=[25,30,35]
l1.append(400)
l1

[25, 30, 35, 400]

In [27]:
values
values_list=list(values)
values_list

[21, 20, 22]

In [28]:
keys_list=list(keys)
keys_list

['Anu', 'Akhi', 'Snehi']

In [ ]:
#i will give the dictionary
#can you extract keys ans values in a list



#i will give two list keys and values
#can you create a dictionary

In [29]:
d1={'Anu':21,
   'Akhi':20,
   'Snehi':22}
keys=list(d1.keys())
values=list(d1.values())

In [30]:
keys,values

(['Anu', 'Akhi', 'Snehi'], [21, 20, 22])

In [32]:
d1={'Anu':21,
   'Akhi':20,
   'Snehi':22}
{keys:values for keys,values in zip(keys,values)}

{'Anu': 21, 'Akhi': 20, 'Snehi': 22}

In [33]:
d1={}
for i in range(len(keys)):
    d1[keys[i]]=values[i]  #d1[keys[0]=values[0]]  d1['Ram']=25
    
d1

{'Anu': 21, 'Akhi': 20, 'Snehi': 22}

In [34]:
dict(zip(keys,values))

{'Anu': 21, 'Akhi': 20, 'Snehi': 22}

In [35]:
s1='virat.kohli@blr.com,Rohit.sharma@mumbai.com,kl.rahul@lucknow.com'

#{'first_name':['virat','Rohit','KL'],
# 'second_name':['kohli','sharma','rahul'],
# 'company':['blr','mumbai','lucknow']}

In [36]:
s1.split(',')

['virat.kohli@blr.com', 'Rohit.sharma@mumbai.com', 'kl.rahul@lucknow.com']

In [71]:
str1='virat.kohli@blr.com'
str1.split(',')
d1={}
f_name=[str1[:str1.find('.')] for str1 in s1.split(',')]
s_name=[str1[str1.find('.')+1:str1.find('@')] for str1 in s1.split(',')]
c_name=[str1[str1.find('@')+1:str1.find('.',str1.find('.')+1)] for str1 in s1.split(',')]
f_name,s_name,c_name

d1['first_name']=f_name
d1['second_name']=s_name
d1['company_name']=c_name

d1

{'first_name': ['virat', 'Rohit', 'kl'],
 'second_name': ['kohli', 'sharma', 'rahul'],
 'company_name': ['blr', 'mumbai', 'lucknow']}

In [48]:
str1='can can you canner can you able to can canner'
#{'can':4,'you':2,'canner':2,'able':1,'to':1}
#step1: split the str1=====> you will get a list
#step2: iterate through loop=====> each word will repeat
#step3: list1.count(<word>):number
#step4:make the dictionary

In [49]:
str1.split(',')

['can can you canner can you able to can canner']

In [57]:
str1='can can you canner can you able to can canner'
words=str1.split()
dict={}
for word in words:
    if not word in dict:
        dict[word]=1
    else:
        dict[word]+=1
        
dict

{'can': 4, 'you': 2, 'canner': 2, 'able': 1, 'to': 1}

In [59]:
i=max(values)

In [61]:
values.index(i)

2

In [62]:
keys[values.index(max(values))]

'Snehi'

In [70]:
d1={'a':20,'b':30,'c':40}
d2={'a':50,'b':100,'c':200}         #o/p={'a':70,'b':130,'c':240}
for i in d2:
    d1[i]+=d2[i]
d1

{'a': 70, 'b': 130, 'c': 240}

In [69]:
d1={'a':20,'b':30,'c':40,'d':500}
d2={'a':50,'b':100,'c':200}         #o/p={'a':70,'b':130,'c':240,'d':500}
for i in d2:
    d1[i]+=d2[i]
d1

{'a': 70, 'b': 130, 'c': 240, 'd': 500}

In [68]:
d1={'a':20,'b':30,'c':40}
d2={'a':50,'b':100,'c':200} 

d3={}
#o/p={'a':70,'b':130,'c':240}
if len(d1)==len(d2):
    for i in d1:
        d3[i]=d1[i]+d2[i]
        
d3

{'a': 70, 'b': 130, 'c': 240}

In [ ]:
#strings/list/dictionary very important for python developer

In [32]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

*clear-copy

In [5]:
#take one dictionary
#take second dictionary
#copy first dict into second
#clear first dict
#and print both
d1={'a':20,'b':30,'c':40}
d2=d1.copy()
d1.clear()
print(d1)  #{}
print(d2)  #d1={'a':20,'b':30,'c':40}

{}
{'a': 20, 'b': 30, 'c': 40}

*pop-popitem-del

. What is pop
      - pop will remove specify key
      - return item
. What is popitem
      - remove the last value default
      - return the pair
. What is del
      - del is a keyword
      - it can delete an item  by  providing specific key

In [6]:
d2.pop('a')

20

In [8]:
del d2['c']
d2

KeyError: 'c'

In [5]:
d2.popitem()

('c', 40)

In [9]:
d1={'a':20,'b':30,'c':40}
d2={'a':50,'b':100,'c':200}

In [10]:
d1={'a':20,'b':30,'c':40}
del d1['c']
d1.pop('c')
d1.popitem()
del (d1)

In [11]:
l1=[10,20,30,40,50]
del l1[1]

In [12]:
l1

[10, 30, 40, 50]

- items/values/keys
- if i provide two list you know how to make dict
- if i provide dict, you know how
- function
- pop/popitem/del
- copy/clear

*fromkeys-get

In [13]:
del(d2)

In [14]:
d2

NameError: name 'd2' is not defined

In [13]:
d1={'a':20,'b':30,'c':40}
d1['b']

30

In [14]:
d1.get('b')

30

In [15]:
d1.get('z')

- how many ways we can do
- what output it is returning
- what is the difference
- we can access the values by providing key as index and key in get method
- but if the key is not present in dictionary, keys as index will give key error
- get method will not return anything and no error

In [ ]:
# it creates a new dictionary
# create a new dictionary from the given sequence of elements
# create new dictionary with iterable key

In [17]:
d2=d1.fromkeys('Anu')
d2

{'A': None, 'n': None, 'u': None}

In [18]:
d2={}.fromkeys('Anu')
d2

{'A': None, 'n': None, 'u': None}

In [19]:
name='Anu'
new=name.capitalize()

In [21]:
name,new

('Anu', 'Anu')

In [22]:
d3={}.fromkeys([1,3,5],'odd')
d3

{1: 'odd', 3: 'odd', 5: 'odd'}

In [23]:
for i in [1,3,5]:
    print(i)

1
3
5

set as default

-returns the values of the key 
-if key is not present returns default

In [24]:
d1={}
d1.setdefault('nareshit','ds')
d1.setdefault('city')
d1

{'nareshit': 'ds', 'city': None}

In [25]:
d2={}
d2['nareshit']='Ds'
d2['city']

KeyError: 'city'

In [26]:
d1={}
d1.setdefault('nareshit','ds')
d1.setdefault('city')
d1.setdefault('nareshit',['DS','MLOPS','DE'])
d1['nareshit']=['Ds','MLOPS','DE']
d1.setdefault('city','hyd')
d1

{'nareshit': ['Ds', 'MLOPS', 'DE'], 'city': None}

*update

In [29]:
# it inserts the particular items to the dictionary
# D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
# If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
# If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
d1={'a':20,'b':30,'c':40}
d2={'a':50,'b':100,'c':200} 
d1.update(d2)
print(d1)

{'a': 50, 'b': 100, 'c': 200}

In [30]:
l1=[1,4,5]
l2=[4,9]
l1.extend(l2)
l1

[1, 4, 5, 4, 9]

update method will update a dictionary will elements from another dictionary.
it modifies the dictionary

In [31]:
t1=[(1,2),(2,3)]
d1={}
d1.update(t1)
d1

{1: 2, 2: 3}

- strings
- list
- dictionary

- tuple
write an article on tuple
- how to read
- type/max/min/len/summ
- index/mutable
- in/for
- slice
- methods